:root{
	--gameColor: #5dde11;
}

*{
	font-family: 'VT323', monospace;
}	

body{
	margin: 0;
	padding: 0;
	background-color: Black;
}
#container{
	width: 1024px;
	margin: 0 auto;
}

#container > h1{
	color: var(--gameColor);
	text-align: center;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 600%;

}

#gameBoard{
	box-sizing: border-box;
	width: 100%;
}

#middle{
	display: flex;
	width: 100%;
	height: 600px;
	flex-direction: row;
	justify-content: space-around;
}

#bottom{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;

}

#wordBox{
	font-size: 300%;
	background-color: Black;
	color: var(--gameColor);
	border-color: var(--gameColor);
	box-sizing: border-box;
	border-style: solid;
	border-radius: 30px;
	flex-basis: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
	letter-spacing: 3.5px;
	margin: 5px;
}



#playAgain{
	visibility: hidden;
	background-color: Black;
	border-color: var(--gameColor);
	color: var(--gameColor);
	font-size: 100%;
	border-radius: 10px;
	padding: 5px;
	width: 275px;
	height: 60px;
}

#hangmanImage{
	color: var(--gameColor);
	border-color: var(--gameColor);
	box-sizing: border-box;
	border-style: solid;
	border-radius: 30px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
}


#badLetters{
	font-size: 250%;
	background-color: Black;
	color: var(--gameColor);
	border-color:var(--gameColor);
	box-sizing: border-box;
	border-style: solid;
	border-radius: 15px;
	margin: 5px;
	flex-basis: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

#scoreBox{
	font-size: 300%;
	background-color: Black;
	color: var(--gameColor);
	border-color: var(--gameColor);
	box-sizing: border-box;
	border-style: solid;
	border-radius: 15px;
	margin: 5px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#theHangMan{
	width: 100%;
	height: 100%;
	position: relative;
}

#head{
	visibility: hidden;
	top: 75px;
	left: 110px;
	position: absolute;
	background-color: var(--gameColor);
	width: 100px;
	height: 100px;
	border-radius: 100%;

}

#torso{
	visibility: hidden;
	position: absolute;
	left: 158px;
	top: 175px;
	background-color: var(--gameColor);
	width: 5px;
	height: 100px;
}



#arms{
	width: 100px;
	height: 100px;
	transform: rotate(45deg);
	border-bottom: transparent;
	border-right: transparent;
	border-left: transparent;
	border-top: transparent;
	border-width: 5px;
	border-style: solid;
	left: 106px;
	top: 85px;
	position: absolute;
}


#legs{
	width: 100px;
	height: 100px;
	transform: rotate(45deg);
	border-bottom: transparent;
	border-right: transparent;
	border-left: transparent;
	border-top: transparent;
	border-width: 5px;
	border-style: solid;
	margin: 15px;
	left: 90px;
	top: 275px;
	position: absolute;
}



